<h1 class="text-center titulo-pagina">Nova Corrida do Mutirão de Natal</h1>
<br><br>
<section class="container" >
    <form style="margin: 0 auto; width: 50%">
        <md-input-container class="md-block">
            <label>Ano</label>
            <input ng-model="corrida.ano" type="text">
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <label>Alvo geral de coleta</label>
            <input ng-model="corrida.alvo_geral" type="number">
        </md-input-container>

    </form>


</section>